* {
  /* display: inline-block; */
  font-family: Arial, Helvetica, sans-serif;
}

.food-section {
  box-sizing: border-box;
  border: 0px;
  border-style: solid;
  display: inline-block;
  /* margin: 2em; */
  /* padding: 1em; */
  width: 100%;
  background-color: purple;
  border-radius: 10px;
  overflow: hidden;
}

.section-header {
  background-color: cornflowerblue;
}
.food-section {
}

article section {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  background-color: antiquewhite;
  padding: 0.0em;
  width: 33.33%;
  margin: 0 0 0 0;
  border: 0;
  padding: 0.0em;
}

.visual {
  background-color: chartreuse;
}

article h2 {
  background-color: orange;
  padding: 1em;
  margin: 0;
}

div header {
  background-color: darkorange;
}

img {
  display: inline-block; */
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
